@using Builder_WASM.Client.Pages.Authentication
@inherits LayoutComponentBase

<div class="page">
    

    @if (AuthenticationService?.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (AuthenticationService?.User != null)
        {
            <div class="top-row px-4 auth">
                <SetupAccount></SetupAccount>
                <Logout></Logout>                
            </div>            
        }
        <Toast />
        <article class="content px-4">            
            @Body
        </article>
    </main>
</div>


@code{
    
}