@using Builder_WASM.Client.Pages.Authentication
@using Builder_WASM.Client.Pages.User
@inherits LayoutComponentBase

<div class="page">

    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (AuthenticationService.User != null)
        {
            <div class="top-row px-4 auth">
                <Logout></Logout>
                <UserSetup></UserSetup>
            </div>            
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    
}