<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Кнопка выпадающего списка
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Действие</a></li>
    <li><a class="dropdown-item" href="#">Другое действие</a></li>
    <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
  </ul>
</div>

@*<div class="row">
    <div class="col">
    <button class="btn btn-secondary d-block" type="button" @onclick=@(()=>@openMenu = @openMenu ? false : true)>
        <span class="oi oi-cog"></span>
    </button>
    </div>
</div>
@if (openMenu)
{
    <div class="row">
        <div class="col">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
}*@



@code {
    bool openMenu = false;
}
