@page "/"

<PageTitle>Index</PageTitle>

<h1>@mess</h1>


@code{

    AuthenticateResponse? user;
    string mess = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        user = await LocalStorageService.GetAsync<AuthenticateResponse>("user");

        if (user == null)
        {
            NavigationManager.NavigateTo("/authenticate/login");
        }
        else if (user?.Role == "Admin")
        {
            mess = "Hello, Admin!";
        }
        else if(user?.Role == "User")
        {
            mess = "Hello, User!";
        }
        else if(user?.Id != 0 && user?.Role == "")
        {
            mess = $"Hello, you don't have a role!";
        }

    }    
}