@page "/"

<PageTitle>Index</PageTitle>

<h1>@mess</h1>


@code{
        
    string mess = string.Empty;

    protected override void OnInitialized()
    {        

        if (AuthenticationService.User == null)
        {
            NavigationManager.NavigateTo("/authenticate/login");
        }
        else if (AuthenticationService.User.Role == "Admin")
        {
            mess = "Hello, Admin!";
        }
        else if(AuthenticationService.User.Role == "User")
        {
            mess = "Hello, User!";
        }
        else if(AuthenticationService.User.Role == "")
        {
            mess = $"Hello, you don't have a role!";
        }

    }    
}