@page "/"
@using Builder_WASM.Client.Pages.Authentication

<PageTitle>Index</PageTitle>

<h1>@mess</h1>


@code {

    string mess = string.Empty;

    protected override void OnInitialized()
    {      

        if (AuthenticationService.User == null)
        {            
            NavigationManager.NavigateTo("/authenticate/login");
        }

        else if (AuthenticationService.User.Role == "Admin")
        {            
            NavigationManager.NavigateTo("/adminlist");
        }

        else if (AuthenticationService.User.Role == "User")
        {            
            NavigationManager.NavigateTo("/clientlist");
        }       

    }
}