@page "/adminlist"


<h3>Administrator List</h3>

@if (userRegistereds == null)
{
    <p>
        <em>
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Loading User...
        </em>
    </p>
}
else
{
    <h5>Count user: @userRegistereds?.Count()</h5>

    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-9 col-sm-12">
            @foreach (var user in userRegistereds!)
            {
                <SelectCompany UserData=@user
                       Companies=@companies
                       Hiring=@HireCompany(@user.CompanyId)                       
                       SaveClickCallback=@UpdateUserRegistered
                       DeleteClickCallback=@DeleteUserRegistered>
                </SelectCompany>
                <p class="mb-2" />
            }
        </div>
    </div>
}


@code
{

    IEnumerable<UserRegistered> userRegistereds = null!;
    IEnumerable<Company> companies = null!;
    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userRegistereds = (await HttpService.Get<IEnumerable<UserRegistered>>("api/UserRegistereds")) ?? null!;            
            companies = (await HttpService.Get<IEnumerable<Company>>("api/Companies")) ?? null!;
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message);
        }
    }

    async Task UpdateUserRegistered(UserRegistered user)
    {
        ResponseMessage message = await HttpService.Put<ResponseMessage>("api/UserRegistereds/" + user.Id, user);
    }

    async Task DeleteUserRegistered(UserRegistered user)
    {        
        ResponseMessage resultDel = await HttpService.Delete<ResponseMessage>("api/UserRegistereds/" + user.Id);
        userRegistereds = (await HttpService.Get<IEnumerable<UserRegistered>>("api/UserRegistereds")) ?? null!;        
    }
   

    string HireCompany(int? id)
    {        
        return companies?.FirstOrDefault(x => x.Id == id)?.HeaderCompanyName?.ToString()!;
    }
    
}