@page "/adminlist"


<h3>Administrator List</h3>

@if (!string.IsNullOrEmpty(errors))
{
    <a class="h5 text-warning">@errors</a>
}

@if (userRegistereds == null)
{
    <p>
        <em>
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Loading User...
        </em>
    </p>
}
else
{
    <h5>Count user: @userRegistereds?.Count()</h5>

    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-9 col-sm-12">
            @foreach (var user in userRegistereds!)
            {
                <SelectCompany UserData=@user
                       Companies=@companies
                       Hiring=@HireCompany(@user.CompanyId)                       
                       SaveClickCallback=@UpdateUserRegistered
                       DeleteClickCallback=@DeleteUserRegistered
                       MessageCallback=@MessagesUpdate>
                </SelectCompany>
                <p class="mb-2" />
            }
        </div>
    </div>
}


@code
{

    IEnumerable<UserRegistered> userRegistereds = null!;
    IEnumerable<Company> companies = null!;
    string errors = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var tempUser = await HttpService.GetAPI<IEnumerable<UserRegistered>>("api/UserRegistereds");
            if (tempUser.IsSuccessStatusCode)
            {
                userRegistereds = tempUser.Response;
            }

            var tempCompany = await HttpService.GetAPI<IEnumerable<Company>>("api/Companies");
            if (tempCompany.IsSuccessStatusCode)
            {
                companies = tempCompany.Response;
            }            
        }
        catch (Exception ex)
        {
            errors = ex.Message;
            StateHasChanged();
        }
    }

    async Task UpdateUserRegistered(UserRegistered user)
    {
        var temp = await HttpService.PutAPI<ResponseMessage>("api/UserRegistereds/" + user.Id, user);
        if (!temp.IsSuccessStatusCode)
        {
            errors = temp.Response.Message;
            StateHasChanged();
        }
    }

    async Task DeleteUserRegistered(UserRegistered user)
    {        
        var temp  = await HttpService.DeleteAPI<ResponseMessage>("api/UserRegistereds/" + user.Id);
        if (!temp.IsSuccessStatusCode)
        {
            errors = temp.Response.Message;
            StateHasChanged();
        }

        var tempUser = (await HttpService.GetAPI<IEnumerable<UserRegistered>>("api/UserRegistereds"));
        if (tempUser.IsSuccessStatusCode)
        {
            userRegistereds = tempUser.Response;
        }
               
    }

    async Task MessagesUpdate(UserRegistered user)
    {
        var temp = await HttpService.PutAPI<ResponseMessage>("api/UserRegistereds/" + user.Id, user);
        if (!temp.IsSuccessStatusCode)
        {
            errors = temp.Response.Message;
            StateHasChanged();
        }
    }


    string HireCompany(int? id)
    {        
        return companies?.FirstOrDefault(x => x.Id == id)?.HeaderCompanyName?.ToString()!;
    }
    
}