<div class="card card-header bg-light">
    <h6 class="fw-bold">
        Description
    </h6>
    <div class="card-body">
        <div class="row">
            <div class="col col-12 col-md-3 form-group mb-2">
                <select @bind="@Id" class="form-control text-primary fw-bold ">
                    <option selected value="0">None</option>
                    @if (Descriptions != null)
                    {
                        @foreach (var item in Descriptions)
                        {
                            <option value="@item.Id">@item.NameDescription</option>
                        }
                    }
                </select>
            </div>

            <div class="col col-12 col-md-5 form-group mb-2">
                <input @bind=Name @onfocusout=OnChange class="form-control" type="text" disabled=@disabledInput placeholder=@isHolder></input>                
            </div>

            <div class="col col-12 col-md-2 form-group mb-2">                
                    <div class="input-group flex-nowrap">                        
                        <span class="input-group-text w-50">Rate</span>
                        <input @bind=Rate @onfocusout=OnChange class="form-control" aria-label="Rate" type="number" disabled=@disabledInput></input>
                    </div>
            </div>

            <div class="col col-12 col-md-2 form-group ">               
                <div class="input-group flex-nowrap">
                    <span class="input-group-text w-50">Count</span>
                    <input @bind=Count @onfocusout=OnChange class="form-control" aria-label="Count" type="number" ></input>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    IEnumerable<DDescription>? descriptions;
    [Parameter]
    public IEnumerable<DDescription>? Descriptions 
    {
        get { return descriptions; }
        set 
        {
            if (descriptions != value)
            {
                descriptions = value;
                Id = 0;
            }
        }
    }
    [Parameter]
    public EventCallback<(DDescription, decimal)> OnChangeCallback { get; set; }
    [Parameter]
    public string placeholder { get; set; } = string.Empty;

    string Name { get; set; } = string.Empty;
    decimal Rate { get; set; } = 0m;
    decimal Count { get; set; } = 0m;


    bool disabledInput;
    string isHolder = string.Empty;
    DDescription data = new DDescription();

    int id;
    int Id
    {
        get { return id; }
        set
        {
            id = value;
            disabledInput = (Id == 0) ? false : true;
            isHolder = (disabledInput) ? string.Empty : placeholder;
            Name = Descriptions?.FirstOrDefault(x => x.Id == id)?.NameDescription ?? string.Empty;
            Rate = Descriptions?.FirstOrDefault(x => x.Id == id)?.RateDescription ?? 0m;
            OnChange();
        }
    }

    protected override void OnInitialized()
    {
        Id = 0;
        Count = 0m;
    }

    protected override void OnParametersSet()
    {
        isHolder = placeholder;                
    }

    void OnChange()
    {
        if (Id == 0)
        {
            data = new DDescription() { NameDescription = Name, RateDescription = Rate };
        }
        else
        {
            data = Descriptions?.FirstOrDefault(x => x.Id == Id)!;
        }
        OnChangeCallback.InvokeAsync((data, Count));
    }

}